<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dempach</title>
		<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/tachyons-css/tachyons.min.css">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="sans-serif mw6 center">
			<h1 class="tc">Dempach Archive</h1>
			<p class="tc">
				If there is an issue or you have older shows, please message me <a href="https://twitter.com/tomopagu">@tomopagu</a>
			</p>
			<hr />
			{{{body}}}
		</div>
	</body>
</html>
